ebin
.psc-package
output
src/compiled_ps
_build
tags
logs
releases
_checkouts
.\#*
\#*
log
.spago
node_modules
.psci_modules
server/purs
.DS_store
.psc-ide-port
_assets
logs*/
*.beam
config.log
.makefile_up_to_date
config.mak
*.o
*.so
*.tmpdata
data
server/src/OpenTelemetry
*.tmp
c_src/id3as_media_drivers_config.h
Cargo.lock
src/crates.hrl
target
client/.cache
client/dist
client/package-lock.json
priv/www/fa-*
priv/www/fontawesome-*
priv/www/index.html
priv/www/visualiser.*
priv/www/dev.*

.vscode
*.code-workspace
Debug
