[ {dotnet, 
  [ { source_assembly, "priv/testimpl.dll" }
  ]},
  {kernel,
   [ {logger_level, debug}
   , {logger, [
               %% Console
               { handler, default, logger_std_h
               , #{ formatter => { logger_formatter
                                 , #{ single_line => true
                                    , time_offset => "Z"
                                    , chars_limit => 32768
                                    , depth => 40
                                    , template => [time," ", level,": ", pid, " ", msg, ": ", misc, "\n"]
                                    }}
                  , filters => [
                                {domain_filter, {fun logger_filters:domain/2, {stop, sub, ['otp', 'sasl']}}},
                                {domain_filter, {fun logger_filters:domain/2, {stop, sub, ['arqiva', 'etcd']}}}
                               ]
                  }
               }
              ]}
  ]}
].
